.chat-side {
  height: 100vh;
  width: 300px;
  background-color: #2f3e51;
  float: left;

  .side-header {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__box {
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;

      &__user-name {
        line-height: 20px;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
      }
      &__menu {
        width: 60px;
        line-height: 20px;
        display: flex;
        justify-content:flex-end;
        list-style: none;
        margin-right: 0;

        .fas {
          color: #ffffff;
          margin-left: 5px;
          // font-weight: 900;
        }  
      }
    }
  }

  .side-groups {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: calc(100vh - 120px);

    .group {
      margin-bottom: 40px;
      color: #ffffff;
      font-weight: bold;
      text-decoration: none;
      
      &__name {
        font-size: 15px;
        margin-bottom: 5px;
        color: white;
      }
      &__message {
        font-size: 11px;
        color: white;
      }
    }
  }
}

.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  float: right;

  .main-header {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;

    &__left-box {
      margin-top: 35px;

      &__group-name {
        color: #333333;
        font-size: 20px;
        margin-bottom: 15px;
      }
      &__member {
        color: #999999;
        font-size: 12px;
      }
    }

    &__rightbox{
      margin-top: 28px;
      height: 38px;
      border: 1px solid #38aee0;
      padding:0 20px;
      display: flex;
      align-items: center;

      .edit-btn {
        text-decoration: none;
        font-size: 16px;
        color: #38aee0;
      }
    }
  }

  .main-messages {
    height: calc(100vh - 260px);
    background-color: #fafafa;
    padding: 35px 40px;
    overflow: scroll;

    .main-message{
      padding-bottom: 40px;

      &__info {
        margin-bottom: 12px;
        display: flex;

        &__name {
          font-size: 16px;
          color: #333333;
          font-weight: bold;
        }
        &__day {
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }

      &__text {
        color: #434A54;
        font-size: 14px;
      }
    }
  }
  .form {
    background-color: #d2d2d2;
    height: 50px;
    padding: 20px 40px;
    .new_message {
      display: flex;
      width: 100%;
      position: relative;
      
      .form__message {
        height: 50px;
        width: 100%;
        color: #434a54;
        padding: 0 40px 0 10px;
        border-style: none;
      }
      .form__mask__image{
        position: absolute;
        top: 15px;
        right: 125px;

        &__icon {
          font-size: 1.4rem;
          // font-weight: 900;
        }
        .hidden {
          display: none;
        }
      }
      .form__submit {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }
    }
  }
}